#graph {
  width: 100%;
  padding-bottom: 100%;
}
.aboutTextBlock {
  width: 100%;
  white-space: normal;
}
.listNumber {
  background-color: #0a9dc7;
  width: 22px;
  height: 22px;
  text-align: center;
}

