#graph {
  width: 100%;
}
.aboutTextBlock {
  width: 100%;
  white-space: normal;
}
.listNumber {
  background-color: #0a9dc7;
  width: 22px;
  height: 22px;
  text-align: center;
}

/*List Styling*/
ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rectangle-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list a:hover{
  background: #eee;
}

.rectangle-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #33cd5f;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}

.rectangle-list a:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
  left: -.5em;
  border-left-color: #33cd5f;
}

.rngInfo {
  list-style-type: disc;
  margin-left: 10%;
}

/*Table Styling*/
.smallBorderRadius {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}


table.nistTable {

  border: 1px solid #000000;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #3A3A3A;
  border-collapse: collapse;
}
table.nistTable th {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #28a54c;
  background-color: #33cd5f;
  color: #ffffff;
}
table.nistTable tr:hover td {
  cursor: pointer;
}
table.nistTable tr:nth-child(even) td{
  background-color: #78ec9a;
}
table.nistTable td {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #28a54c;
  background-color: #ffffff;
}
