
#diceRoll{
  display: none;

}

#diceBlock{
  height: 95px;

}
.die {
  display: inline-block;
  position: inherit;
  width: 60px;
  height: 60px;
}
.dieResult {
  position: inherit;
  top: -55px;
  left:0;
  padding: 10px;
  font-size: 30px;
  color: white;
  text-align: center;
}
#die0{
    margin-left: 50%;
  left: -160px;
}
#die1 {
  margin-left: -160px;
}

.rounded-10{
    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

