/* Empty. Add your own CSS if you like */
a {
  text-decoration: none;
}

.addMargin {
  margin: 5px;
}

.fixLabel {
  width: 60px;
}

.moveDown {
  top: 43px;
}

.stretch {
  width: 100%;
  height: 100%;
}

.shadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.backgroundGif {
  width: 100%;
  color: white;
}

/**/

.videoText {
  color: white;
  position: absolute;
  top: 0;
  margin: 5px;
}

.roundCorners {
  border-radius: 300px 300px 300px 300px;
  -moz-border-radius: 300px 300px 300px 300px;
  -webkit-border-radius: 300px 300px 300px 300px;
}

.whiteOut {
  position: absolute;
  background-color: white;
  width: 100%;
  padding-bottom: 0;

}

#preloadGif {
  background: url("../img/fishDemo_2.gif") no-repeat -9999px -9999px;
}


.red {
  background-color: #c10835;
  color: white;
}
.purple {
  /*border-color: #601174;*/
  border-color: #9d6db1;
  background-color: #801399;
  color: white;
}

#fishBanner {
  top: 0;
}

.menuHeader {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 130px;
}

.menuLayerOne{
  position: absolute;
  height: 44px;
  width: 100%;
  background-color: #801399;


}
.menuLayerTwo{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100% 100%;
    background-color: #801399;
    right: -7px;
    top: 10px;
  border: 1px #9d6db1;

}
/*.menuLayerThree{
    position: absolute;
    height: 170px;
    width: 170px;
    border-radius: 100% 100%;
    background-color: white;
    left: -46px;
    top: 35px;
}*/
.fishFateIcon {
  width: 60px;
  height: 60px;
  position: absolute;
right: 14px;
    top: 31px;
  border-radius: 100% 100%;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}


.hideOverFlow {
  overflow: hidden;
}
