<!--
Corey Aing
07/24/2016
-->

<ion-view class="moveDown">

<ion-list>

  <ion-item>
    <div class="aboutTextBlock">
      <h2>How do the fish make a random number?</h2>
      <ul>
         <li><div class="listNumber">1</div>
           Set up a camera on your fishtank</li>
         <li>This is the second item</li>
         <li>This is the third item</li>
         <li>This is the fourth item</li>
         <li>This is the fifth item</li>
         <li>This is the sixth item</li>
      </ul>
    </div>
  </ion-item>

  <ion-item>
    <!-- graph here -->
    <div class="aboutTextBlock">
      Below is a scatter plot graph that shows the
      distribution of randomly generated x and y values
      which are then plotted onto the graph.
    </div>

    <div id="graph">
      <img ng-src="{{images.about.graph}}" class="stretch">
    </div>

  </ion-item>

  <ion-item>
    <div class="borderRadius">
      <table class = "nistTable">
        <tr>
          <th align="left"><b>Statistical Test</b></th>
          <th><b>Successful Proportion</b></th>
        </tr>
        <tr>
          <td>Frequency</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Block Frequency</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Cumulative Sums</td>
          <td align="center">2/2</td>
        </tr>
        <tr>
          <td>Runs</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Longest Run</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Random Binary Matrix Rank</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Discrete Fourier Transform (Spectral)</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Non-Overlapping (Aperiodic) Template Matching</td>
          <td align="center">146/148</td>
        </tr>
        <tr>
          <td>Overlapping (Periodic) Template Matching</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Approximate Entropy</td>
          <td align="center">1/1</td>
        </tr>
        <tr>
          <td>Serial</td>
          <td align="center">2/2</td>
        </tr>
        <tr>
          <td>Linear Complexity</td>
          <td align="center">1/1</td>
        </tr>
      </table>
    </div>
  </ion-item>

  <!-- more content explaining how our RNG works -->
</ion-list>
</ion-view>
