<ion-view>
  <ion-nav-title>
    <a style="font-size: 20px">Fish Fate</a>
  </ion-nav-title>

  <ion-content>

    <!-- video demo here -->
    <div id="fishBanner">
      <div class="backgroundGif">
        <img class="stretch" ng-src="{{images.demo}}">
        <div class="videoText">
          ~ Why swim in your thoughts when the fish can do it for you.
        </div>
      </div>
    </div>

    <div class="whiteOut">
      <!-- buttons -->
      <ion-item id="menuOptions" ng-controller="menuOptionsController">
        <div class="row">
          <button class="button button-assertive col addMargin shadow"
                  ng-click="selectEightBall()">8-Ball
          </button>
          <button class="button button-assertive col addMargin shadow"
                  ng-click="selectDiceRoll()">Dice Roll
          </button>
          <button class="button button-assertive col addMargin shadow"
                  ng-click="selectCoinFlip()">Coin Flip
          </button>
        </div>

      </ion-item>

      <!-- magic eight ball -->
      <div id="eightBall" ng-controller="eightBallController">
        <ion-item ng-click="submitEightBall()">
          <ul id="eightBall01" class="roundCorners">
            <li id="eightBall02" class="roundCorners"></li>
            <li id="eightBall03" class="roundCorners"></li>
            <li id="triangle"></li>
            <li id="answer" ng-bind-html="eightBall.answers[eightBall.resultIndex]"></li>
            <li id="triangleOverlay" class="roundCorners"></li>
          </ul>
        </ion-item>
      </div>

      <!-- dice roll input -->
      <div id="diceRoll" ng-controller="diceController">
        <ion-item id="diceBlock" ng-click="submitRollDice()">
          <div id="die0" class="die">
            <img class="rounded-10" ng-src="{{images.die}}">
            <div id="dieResult0" class="dieResult">{{diceRoll.diceValues[0]}}</div>
          </div>
          <div id="die1" class="die">
            <img class="rounded-10" ng-src="{{images.die}}">
            <div id="dieResult1" class="dieResult">{{diceRoll.diceValues[1]}}</div>
          </div>
          <div id="die2" class="die">
            <img class="rounded-10" ng-src="{{images.die}}">
            <div id="dieResult2" class="dieResult">{{diceRoll.diceValues[2]}}</div>
          </div>
          <div id="die3" class="die">
            <img class="rounded-10" ng-src="{{images.die}}">
            <div id="dieResult3" class="dieResult">{{diceRoll.diceValues[3]}}</div>
          </div>
          <div id="die4" class="die">
            <img class="rounded-10" ng-src="{{images.die}}">
            <div id="dieResult4" class="dieResult">{{diceRoll.diceValues[4]}}</div>
          </div>

        </ion-item>

        <ion-item>
          <div class="list">
            <div class="item range">
              <div class="range-label fixLabel"># dice</div>
              <input type="range"
                     name="numberDice"
                     min="1" max="5"
                     data-ng-model="diceRoll.numberDice"
                     ng-change="displayDice()">
              {{diceRoll.numberDice}}
            </div>
            <div class="item range">
              <div class="range-label fixLabel"># sides</div>
              <input type="range"
                     name="numberSides"
                     min="4" max="20"
                     ng-checked="6"
                     data-ng-model="diceRoll.numberSides"
                     ng-change="changeSides()">
              {{diceRoll.numberSides}}
            </div>
          </div>
        </ion-item>
      </div>


      <!-- coin flip  -->
      <div id="coinFlip" ng-controller="coinController">
        <ion-item ng-click="submitCoinFlip()">

          <!-- coin zero: output -->
          <div id="coin0" class="flip-container">
            <div class="flipper">
              <div class="front">
                <ul class="coin roundCorners">
                  <li class="heads"><img ng-src="{{images.heads}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
              <div class="back">
                <ul class="coin roundCorners">
                  <li class="tails"><img ng-src="{{images.tails}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- coin one: output -->
          <div id="coin1" class="flip-container">
            <div class="flipper">
              <div class="front">
                <ul class="coin roundCorners">
                  <li class="heads"><img ng-src="{{images.heads}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
              <div class="back">
                <ul class="coin roundCorners">
                  <li class="tails"><img ng-src="{{images.tails}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- coin two: output -->
          <div id="coin2" class="flip-container">
            <div class="flipper">
              <div class="front">
                <ul class="coin roundCorners">
                  <li class="heads"><img ng-src="{{images.heads}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
              <div class="back">
                <ul class="coin roundCorners">
                  <li class="tails"><img ng-src="{{images.tails}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- coin three: output -->
          <div id="coin3" class="flip-container">
            <div class="flipper">
              <div class="front">
                <ul class="coin roundCorners">
                  <li class="heads"><img ng-src="{{images.heads}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
              <div class="back">
                <ul class="coin roundCorners">
                  <li class="tails"><img ng-src="{{images.tails}}"></li>
                  <li class="coinLayer1 roundCorners"></li>
                </ul>
              </div>
            </div>
          </div>
        </ion-item>

        <!-- coin flip range slider bar input -->
        <ion-item>
          <div class="list">
            <div class="item range">
              <div class="range-label fixLabel"># coins</div>
              <input type="range"
                     min="1"
                     max="4"
                     data-ng-model="coinFlip.numberCoins"
                     ng-change="displayCoins()">
              {{coinFlip.numberCoins}}
            </div>
          </div>
        </ion-item>
      </div>

    </div>
  </ion-content>
</ion-view>
